.contact {
    &__container {
        padding: 100px 0;
        max-width: 880px;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;        
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        max-width: 310px;
        width: 100%;
        justify-content: center;
        // @include max($md) {
        //     margin: 0 auto 15px;
        // }
        // @include max($s) {
        //     justify-content: center;
        // }
    }

    &__link {
        position: absolute;
        width: 50px;
        height: 50px;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        outline: transparent;
    }

    &__item {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 100px;
        text-align: center;

        &--phone {
            @media (any-hover:hover) {
                &:hover {
                    .contact__circle {   
                        animation: outWaveIn 1s cubic-bezier(0.42, 0.0, 0.58, 1.0) forwards, phone 1s linear forwards;
                    }
                    .contact__icon {
                        fill:#007bb6;
                    }
                }
            }
        }

        &--whatsapp {
            @media (any-hover:hover) {
                &:hover {
                    .contact__icon {
                        fill:#28bd28;
                    }
                    .contact__circle {    
                        animation: outWaveIn 1s cubic-bezier(0.42, 0.0, 0.58, 1.0) forwards, whatsapp 1s linear forwards;
                    }
                }
            }
        }

        &--skype {
            @media (any-hover:hover) {
                &:hover {
                    .contact__icon {
                        fill:#51c9ee;
                    }
                    .contact__circle {     
                        animation: outWaveIn 1s cubic-bezier(0.42, 0.0, 0.58, 1.0) forwards, skype 1s linear forwards;
                    }
                }
            }
        }

        &--email {
            @media (any-hover:hover) {
                &:hover {
                    .contact__icon {
                        fill:#d46419;
                    }
                    .contact__circle {    
                        animation: outWaveIn 1s cubic-bezier(0.42, 0.0, 0.58, 1.0) forwards, email 1s linear forwards;
                    }
                }
            }
        }

        &--linkedin {
            @media (any-hover:hover) {
                &:hover {
                    .contact__icon {
                        fill:#3047caab;
                    }
                    .contact__circle {    
                        animation: outWaveIn 1s cubic-bezier(0.42, 0.0, 0.58, 1.0) forwards, linkedin 1s linear forwards;
                    }
                }
            }
        }

        @media (any-hover:hover) {
            &:hover {
                .contact__circle {
                    fill:$white;
                    fill-opacity : 1;      
                }
            }
        }
    }

    &__circle {
        fill: none;
        stroke: $white;
        stroke-width: 5px;
        stroke-dasharray: 40; 
        transition: all 0.2s ease-in-out;
        animation: outWaveOut 1s cubic-bezier(0.42, 0.0, 0.58, 1.0) forwards;
    }

    &__social {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;    
        transition: all 0.5s ease-in-out;
    }

    &__icon {
        fill: $white;
        margin: auto;
        width: 20px;
        height: 25px;
        transition: fill 0.5s ease-in-out;
    }
}



@keyframes outWaveOut {
    from {
        stroke-width: 10px;
        stroke-dasharray: 400;
    }
    to {
        stroke: $white;
        stroke-width: 5px;
        stroke-dasharray: 40; 
    }
}

@keyframes outWaveIn {
    to {
        stroke-width: 10px;
        stroke-dasharray: 400;  
          
    }
}

@keyframes phone {
    from {
        stroke: $white;
    }
    to {
        stroke:#007bb6;
    }
}

@keyframes linkedin {
    from {
        stroke: $white;
    }
    to {
        stroke:#3047caab;
    }
}

@keyframes whatsapp {
    from {
        stroke: $white;
    }
    to {
        stroke:#28bd28;
    }
}

@keyframes skype {
    from {
        stroke: $white;
    }
    to {
        stroke:#51c9ee;
    }
}

@keyframes email {
    from {
        stroke: $white;
    }
    to {
        stroke:#d46419;
    }
}

