.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 0;
    padding: 25px 15px;
    width: 150px;
    height: 100vh;
    background-color: $dark;
    z-index: 100;
    border: 1px solid transparent;
    box-shadow: inset 0 0 15px 0 transparent;
    @include max($lg) {
        width: 100%;
        height: 80px;
        padding: 10px;
        flex-direction: row;
        justify-content: space-between;
    }

    &__btn {
        cursor: pointer;
        padding: 0;
        border: none;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        outline: transparent;
        background-color: transparent;
        width: 33px;
        height: 33px;
        span {
            display: block;
            width: 80%;
            height: 4px;
            border-radius: 2px;
            background-color: $malibu;
            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
        @include max($lg) {
            display: flex;
            position: relative;
            z-index: 200;
        }
    }
}

.loaded {
    .header {
        border: 1px solid #161616;
        box-shadow: inset 0 0 20px 0 #0c0c0c;
        transition: box-shadow 1s ease 1.5s, border 1s ease 1.5s;
    }
}