.home {
    position: relative;
    height: 100vh;
    &__inner {
        position: absolute;
        z-index: 10;
        max-width: 585px;
        width: 100%;
        color: $white;
        left: 220px;
        top: 200px;
        padding-left: 20px;
    }

    & .home-title {
        font-size: 70px;
        font-family: $Julee;
        span {
            display: block;
        }
        &__position {
            color: $dark;
            -webkit-text-stroke: 1px rgba($white, 0.1);
            position: relative;
            &::before {
                position: absolute;
                content: attr(data-title);
                left: 0;
                top: 0;
                width: 0;
                height: 100%;
                color: $malibu;
                -webkit-text-stroke: 0 rgba($white, 0.03);
                border-right: 2px solid $malibu;
                overflow: hidden;
                transition: width 1s ease-in-out;
            }
            @media (any-hover:hover) {
                &:hover {
                    &::before {
                        // animation: animation-title 3s ease-in-out forwards;
                        transition: width 1s ease-in-out;
                        width: 100%;
                    }
                }
            }
        }
    }
}

// @keyframes animation-title {
//     0% {
//         width: 0;
//     }
//     40% {
//         width: 35%;
//     }
//     100% {
//         width: 100%;
//     }
// }