.home {
    position: relative;
    height: 100vh;
    background-color: $dark;
    @include max($s) {
        overflow: hidden;
    }
    &__inner {
        position: absolute;
        z-index: 10;
        max-width: 585px;
        width: 100%;
        color: $white;
        left: 220px;
        top: 22%;
        @include max($xl) {
            left: 80px;
        }
        @include max($md) {
            max-width: 370px;
            left: 15px;
        }
        @include max($s) {
            max-width: 290px;
        }
    }

    & .home-title {
        font-size: 70px;
        font-family: $Julee;
        span {
            display: block;
        }
        &__position {
            color: $dark;
            -webkit-text-stroke: 1px rgba($white, 0.1);
            position: relative;
            @include lineClamp;
            -webkit-line-clamp: 1;
            &::before {
                position: absolute;
                content: attr(data-title);
                left: 0;
                top: 0;
                width: 0;
                height: 100%;
                color: $malibu;
                -webkit-text-stroke: 0 rgba($white, 0.03);
                border-right: 2px solid $malibu;
                overflow: hidden;
                transition: width 1s ease-in-out;
            }
            &:hover {
                &::before {
                    transition: width 1s ease-in-out;
                    width: 100%;
                }
            }
        }
        @include max($md) {
            font-size: 45px;
        }
        @include max($s) {
            font-size: 35px;
        }
    }
}

