.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}

html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
    padding-left: 150px;
    @include max($lg) {
        padding-left: 0;
    }
}

.body {
    font-family: $ProximaNova;
    background-color: $bg;
    font-size: 16px;
    line-height: 1.5;
    color: $white;
    display: flex;
    flex-direction: column;
    &--hidden {
        overflow: hidden;
    }
}

[class*='__container'] {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}



// @include lineClamp;
// -webkit-line-clamp: 2;