
$black: #000;
$codGray: #0f0f0f;
$bg: #1a1919;
$dark: #111;
$malibu: #61dafb;
$white: #fff;
$green: #43d854;
$buccaneer: #572929;
$grey: #ccc;


$xl: 1200;
$lg: 990;
$md: 720;
$m: 540;
$s: 400;

$ProximaNova: 'ProximaNova', sans-serif;
$Julee: 'Julee', sans-serif;




