.social{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    margin-top: auto;
    @include max($lg) {
        flex-direction: row;
        margin: 0 20px 0 auto;
        width: auto;
    }
    @include max($s) {
        margin-right: 6px;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 15px;
            @include max($lg) {
                margin: 0 20px 0 0;
            }
            @include max($md) {
                margin-right: 15px;
            }
            @include max($s) {
                margin-right: 9px;
            }
        }
    }
    &__link {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: transparent;
        @include max($md) {
            width: 40px;
            height: 40px;
        }
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            border-bottom: 4px solid;
            transition: 0.5s ease-in-out;
            font-family: fontAwesome;
            font-size: 35px;
            text-align: center;
            line-height: 52px;
            overflow: hidden;
            @include max($md) {
                border-width: 3px;
                font-size: 30px;
                line-height: 41px;
            }
        }
        &--github {
            &::before {
                border-color: rgba($white, 0.4);
                content: '\f092';
                color:  rgba($white, 0.4);
            }
        }
        &--whatsapp {
            &::before {
                border-color: $green;
                content: '\f232';
                color: $green;
            }
        }
        &--post {
            &::before {
                border-color: $buccaneer;
                content: '\f0e0';
                color: $buccaneer;
            }
        }
        &:hover {
            &::before {
                height: 100%;
            }
        }
        &:active {
            background-color: rgba($white, 0.3);
            &::before {
                height: 100%;
            }
        }
        &:focus {
            background-color: rgba($white, 0.7);
            &::before {
                height: 100%;
            }
        }
    }

    i {
        font-size: 35px;
        color: rgba($white, 0.1);
        @include max($md) {
            font-size: 30px;
        }
    }
}